/*Resume syles below this point */

html, body, .bodyOne {
  overflow: hidden;
  border: solid;
  border-color: black;
  border-bottom: black !important;


}

.bodyOne{
  overflow: hidden !important;
}



.resume {
  width: 100%;
  height: 1000px;
  overflow: hidden !important;
}

.portal{
  position: relative;
  height: 20%;

}



.bluePortal{
  height: 100px;
  width: 100%;

}

.centerTextResume{
  position: absolute;
   top: 3.2%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-decoration:none;
   font-family: 'Orbitron', sans-serif;
   font-size: 18px;
   color: black;
}



.bluePortal:hover{
  filter: brightness(150%);
}




/* portfolio styles */

HTML, body{
     overflow: visible;

}


.purplePortal{

  height: 100px;
  width: 100%

}

.centerText{
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-decoration:none;
   font-family: 'Orbitron', sans-serif !important;
   font-size: 18px;
   color: black;
}


.purplePortal:hover{
  filter: brightness(150%);
}

.card-deck{
  padding: 40px;
  font-family: 'Lora', serif;
  background-color: rgba(82, 86, 89, 1);
  font-family: 'Orbitron', sans-serif !important;

}

.card.left:hover{
    cursor: default;
    transform: rotate(-5deg);
    transition: all .6s ease-in-out 0s;
    mix-blend-mode:hard-light !important;
}

.card.right:hover{
    cursor: default;
    transform: rotate(5deg);
    transition: all .6s ease-in-out 0s;
    mix-blend-mode:hard-light !important;
}

.card-body{
  border: inset 5px;
  border-radius: 5px;
  border-color: black;
  font-family: 'Orbitron', sans-serif !important;
}

.containerTwo{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  font-family: 'Orbitron', sans-serif !important;
}

li {
  margin-left: 30px;
  text-decoration: none;
}

li:hover{
  background-color: green;
  color: white;
  text-decoration: none;
}

div.portal{
    background-color: rgba(82, 86, 89, 1) !important;
  border-color: black;
  border-bottom: black !important;

  margin-left: -15px;
  margin-right: -15px;
}

div.portalBlue{
    background-color: rgba(64, 64, 64) !important;
  border-color: black;
  border-bottom: black !important;

  margin-left: -15px;
  margin-right: -15px;
}

.jumbotron {
  background: linear-gradient(rgba(82, 86, 89, 1), white);
  margin-left: -15px;
  margin-right: -15px;
}

ul.list-group{
  text-align: center;
  text-decoration: none;
}

li.list-group-item{
  height: 83px;
  vertical-align: middle;
  text-align: center;
  font-size: 28px;
  line-height: 55px !important;
}

p.lead{
  padding-top: 20px;
  font-family: 'Orbitron', sans-serif;
  font-size: 22px;
  color: black;
}

.fancy{
  background:url("./background/mysteryDev.png") no-repeat center hsl(282,50%,50%);
  background-size: cover;
  border: 5px solid #000;
 border-radius: 50%;
display: inline-block;
 width: 31rem; height: 30rem;


}

.fancy:hover{
  background:url("./background/nateln.jpg") no-repeat center hsl(0,0%,50%);;
  background-blend-mode:luminosity;
   border-radius: 50%;
   background-size: cover;
   border: 5px solid #000;
  border-radius: 50%;
  display: inline-block;
  width: 31rem; height: 30rem;

}


html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Orbitron', sans-serif !important;
}

.bodyTwo{
  font-family: 'Orbitron', sans-serif !important;
}

html, body, .bodyOne .portalBlue{
  overflow-y:hidden !important;
  height: 100vh !important;
}


@media screen and (max-width: 680px) {
    .containerTwo {
        display: flex;
        flex-direction: column;
    }
}
